@use "sass:math";
@use "sass:map";

$breakpoint-xxs: 480px !default;
$breakpoint-xs: 640px !default;
$breakpoint-sm: 768px !default;
$breakpoint-md: 1024px !default;
$breakpoint-lg: 1280px !default;
$breakpoint-xl: 1440px !default;
$breakpoint-xxl: 1536px !default;

$breakpoints: (
  xxs: $breakpoint-xxs,
  xs: $breakpoint-xs,
  sm: $breakpoint-sm,
  md: $breakpoint-md,
  lg: $breakpoint-lg,
  xl: $breakpoint-xl,
  xxl: $breakpoint-xxl,
);

@mixin media-breakpoint-min(
  $breakpoint-min
) {
  @if (map.has-key($breakpoints, $breakpoint-min)) {
    $breakpoint-min: map.get($breakpoints, $breakpoint-min);
  }

  @if (math.is-unitless($breakpoint-min)) {
    $breakpoint-min: $breakpoint-min * 1px;
  }

  @if ($breakpoint-min == 0) {
    @content;
  } @else {
    @media screen and (min-width: $breakpoint-min) {
      @content;
    }
  }
}

@mixin media-breakpoint-min-xxs {
  @include media-breakpoint-min(xxs) {
    @content;
  }
}

@mixin media-breakpoint-min-xs {
  @include media-breakpoint-min(xs) {
    @content;
  }
}

@mixin media-breakpoint-min-sm {
  @include media-breakpoint-min(sm) {
    @content;
  }
}

@mixin media-breakpoint-min-md {
  @include media-breakpoint-min(md) {
    @content;
  }
}

@mixin media-breakpoint-min-lg {
  @include media-breakpoint-min(lg) {
    @content;
  }
}

@mixin media-breakpoint-min-xl {
  @include media-breakpoint-min(xl) {
    @content;
  }
}

@mixin media-breakpoint-min-xxl {
  @include media-breakpoint-min(xxl) {
    @content;
  }
}

@mixin media-breakpoint-max(
  $breakpoint-max
) {
  @if (map.has-key($breakpoints, $breakpoint-max)) {
    $breakpoint-max: map.get($breakpoints, $breakpoint-max);
  }

  @if (math.is-unitless($breakpoint-max)) {
    $breakpoint-max: $breakpoint-max * 1px;
  }

  $breakpoint-max: $breakpoint-max - 1px;

  @if ($breakpoint-max == 0) {
    @content;
  } @else {
    @media screen and (max-width: $breakpoint-max) {
      @content;
    }
  }
}

@mixin media-breakpoint-max-xxs {
  @include media-breakpoint-max(xxs) {
    @content;
  }
}

@mixin media-breakpoint-max-xs {
  @include media-breakpoint-max(xs) {
    @content;
  }
}

@mixin media-breakpoint-max-sm {
  @include media-breakpoint-max(sm) {
    @content;
  }
}

@mixin media-breakpoint-max-md {
  @include media-breakpoint-max(md) {
    @content;
  }
}

@mixin media-breakpoint-max-lg {
  @include media-breakpoint-max(lg) {
    @content;
  }
}

@mixin media-breakpoint-max-xl {
  @include media-breakpoint-max(xl) {
    @content;
  }
}

@mixin media-breakpoint-max-xxl {
  @include media-breakpoint-max(xxl) {
    @content;
  }
}

@mixin media-breakpoint-min-max(
  $breakpoint-min,
  $breakpoint-max
) {
  @if (map.has-key($breakpoints, $breakpoint-min)) {
    $breakpoint-min: map.get($breakpoints, $breakpoint-min);
  }

  @if (map.has-key($breakpoints, $breakpoint-max)) {
    $breakpoint-max: map.get($breakpoints, $breakpoint-max);
  }

  @if (math.is-unitless($breakpoint-min)) {
    $breakpoint-min: $breakpoint-min * 1px;
  }

  @if (math.is-unitless($breakpoint-max)) {
    $breakpoint-max: $breakpoint-max * 1px;
  }

  $breakpoint-max: $breakpoint-max - 1px;

  @if ($breakpoint-min == 0) {
    @media screen and (max-width: $breakpoint-max) {
      @content;
    }
  } @else {
    @media screen and (min-width: $breakpoint-min) and (max-width: $breakpoint-max) {
      @content;
    }
  }
}
