@use "sass:map";
@use "index";

$breakpoint-xxs: 480px !default;
$breakpoint-xs: 640px !default;
$breakpoint-sm: 768px !default;
$breakpoint-md: 1024px !default;
$breakpoint-lg: 1280px !default;
$breakpoint-xl: 1440px !default;
$breakpoint-xxl: 1536px !default;

$breakpoints: (
  xxs: $breakpoint-xxs,
  xs: $breakpoint-xs,
  sm: $breakpoint-sm,
  md: $breakpoint-md,
  lg: $breakpoint-lg,
  xl: $breakpoint-xl,
  xxl: $breakpoint-xxl,
);

$rem-default: 16 !default;

@mixin media-breakpoint-min(
  $breakpoint-min,
  $rem-default: $rem-default
) {
  $value: map.get($breakpoints, $breakpoint-min);

  @if ($value == 0) {
    @content;
  } @else {
    @media (min-width: scss-function-rem.rem($value, $rem-default)) {
      @content;
    }
  }
}

@mixin media-breakpoint-max(
  $breakpoint-max,
  $rem-default: $rem-default
) {
  $value: map.get($breakpoints, $breakpoint-max) - 1px;

  @if ($value == 0) {
    @content;
  }
  @else {
    @media (max-width: scss-function-rem.rem($value, $rem-default)) {
      @content;
    }
  }
}

@mixin media-breakpoint-min-max(
  $breakpoint-min,
  $breakpoint-max,
  $rem-default: $rem-default
) {
  $value-min: map.get($breakpoints, $breakpoint-min);
  $value-max: map.get($breakpoints, $breakpoint-max) - 1px;

  @if ($value-min == 0) {
    @media (max-width: scss-function-rem.rem($value-max, $rem-default)) {
      @content;
    }
  } @else {
    @media (min-width: scss-function-rem.rem($value-min, $rem-default)) and (max-width: scss-function-rem.rem($value-max, $rem-default)) {
      @content;
    }
  }
}
